###############################################################################
# Blue Fox IAM - Configurações de Produção (Keycloak)
###############################################################################

# Subir com docker-compose:
# docker compose -f docker-compose.yml -f docker-compose.prod.yml --env-file .env.prod up -d
# Baixar os containers:
# docker compose -f docker-compose.yml -f docker-compose.prod.yml --env-file .env.prod down

# Database Config
DB_USER=CHANGE_ME_DB_USER
DB_PASSWORD=CHANGE_ME_DB_PASSWORD
DB_NAME=keycloak_db

# Keycloak Admin
KC_ADMIN_USER=CHANGE_ME_ADMIN_USER
KC_ADMIN_PASSWORD=CHANGE_ME_ADMIN_PASSWORD

# Keycloak Config
KC_HOSTNAME=auth.bluefoxaquarismo.com.br
KC_HTTP_RELATIVE_PATH=/auth
KC_METRICS_ENABLED=true
KC_HEALTH_ENABLED=true

# Docker Network
DOCKER_NETWORK=infra-net
