###############################################################################
# Blue Fox IAM - Configurações de Desenvolvimento (Keycloak)
###############################################################################

# Subir com docker-compose:
# docker compose -f docker-compose.yml -f docker-compose.dev.yml --env-file .env.dev up -d
# Baixar os containers:
# docker compose -f docker-compose.yml -f docker-compose.dev.yml --env-file .env.dev down

# Database Config
DB_USER=user
DB_PASSWORD=password
DB_NAME=keycloak_db
DB_PORT=5434

# Keycloak Admin
KC_ADMIN_USER=admin
KC_ADMIN_PASSWORD=admin
KC_COMMAND=start --import-realm

# Keycloak Config
KC_HOSTNAME=localhost
KC_PORT=8080
KC_HTTP_RELATIVE_PATH=/auth
KC_METRICS_ENABLED=true
KC_HEALTH_ENABLED=true

# Docker Network
DOCKER_NETWORK=infra-net
